@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-scroll {
    .simplebar-scrollbar {
        display: flex;
        justify-content: center;

        &::before {
            background-color: var(--color-text-dim);
            left: 20%;
            right: 20%;
            border-radius: 2px;
        }
    }

    .simplebar-scrollbar.simplebar-visible {
        &::before {
            left: 20%;
            right: 20%;
            border-radius: 2px;
            opacity: 0.7;
        }
    }

    .simplebar-track {

        &.simplebar-vertical {
            display: flex;
            justify-content: center;
            width: 0.9rem;
        }
    }
}

body.modal-open {
    position: relative;
    overflow: hidden;
}

#root {
    position: relative;
}

body {
    overflow: hidden;
}

main {
    position: relative;
    height: 100%;
    background-color: var(--color-background);
    transition: background-color 0.3s ease;
}