:root {
    --color-primary: #F05656;
    --color-primary-hover: #DC4747;
    --color-background: #FBF6F6;
    --color-background-substrate: #F4E5E7;
    --color-text: #191314;
    --color-text-dim: #756769;
    --color-border: rgba(89, 39, 45, 0.12);
    --color-shadow: rgba(251, 246, 246, 0.5);
    --font-weight-standart: 500;
    --font-size-standart: 1.25rem;
    --transition-standart: all 0.3s ease;
}

[data-theme="dark"] {
    --color-primary: #F05656;
    --color-primary-hover: #FF6B6B;
    --color-background: #171112;
    --color-background-substrate: #2A1B1E;
    --color-text: #FFF7F7;
    --color-text-dim: #B6A6A8;
    --color-border: rgba(255, 226, 230, 0.12);
    --color-shadow: rgba(23, 17, 18, 0.75);
}