.pin {
    user-select: none;
    width: 100%;
    height: calc(100vh - var(--navdar-height) + 2rem);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Manrope, sans-serif;
    background-color: var(--color-background);

    &__container {
        position: relative;
        max-width: var(--max-width-standart);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        max-height: 50rem;
        height: 100%;
        border: var(--border-standart);
        border-radius: 0.35rem;
        background-color: var(--color-background);
        box-shadow: 0 0 40px -5px var(--color-panel-shadow);
        transition: var(--transition-standart);
        color: var(--color-text);
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        background-color: var(--color-background);
        border-bottom: 1px solid var(--color-border);
        padding: 1rem;
        z-index: 5;
        transition: var(--transition-standart);

        &-name {
            font-size: 2.75rem;
        }

        &-greet {
            font-size: 1.1rem;
            color: var(--color-text-dim);
        }
    }

    &__attention {
        position: relative;
        width: 65%;
        transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
        z-index: 4;
        height: 4rem;
        color: var(--color-text);

        &-pop {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 4rem;
            transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
            border-bottom: 1px solid var(--color-border);

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                animation: attention-flash 0.6s ease;
            }
        }

        &.hidden {
            height: 0;
        }
        &.hidden &-pop {
            transform: translateY(-5rem);
        }
    }

    &__main {
        &.checking {
            pointer-events: none;
            opacity: 0.75;
        }
    }
    &-input {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.55rem;
        margin: 2rem 0;
        cursor: pointer;

        &__field {
            background-color: var(--color-background);
            border: var(--color-border) 1px solid;
            border-radius: 0.35rem;
            width: 5rem;
            height: 7rem;
            text-align: center;
            font-size: 4rem;
            transition: box-shadow 0.15s ease, background-color 0.3s ease, border 0.3s ease, all 0.3s ease;
            color: var(--color-text);
            caret-color: transparent;
            pointer-events: none;
            user-select: none;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--color-primary)
            }

            &.fail {
                border-color: var(--color-primary);
                box-shadow: 0 0 0 1px var(--color-primary)
            }
        }

    }

    &__forgot {
        text-align: center;
        width: 65%;
        border-top: 1px solid var(--color-border);
        padding: 1rem;
        font-size: 1.1rem;
        text-decoration: underline;

        a {
            transition: var(--transition-standart);
            color: var(--color-text);

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-width-standart);
        width: 100%;
        height: 2rem;
        margin: 0 auto;
        padding: var(--padding-sides-page);
        color: var(--color-text-dim);

        a {
            color: var(--color-text);
            transition: var(--transition-standart);
            font-family: "Space Grotesk", sans-serif;

            &:hover {
                color: var(--color-primary);
            }
        }
    }
}

@keyframes attention-flash {
    0% {
        color: var(--color-primary);
    }
    15% {
        color: var(--color-primary);
    }
    100% {
        color: var(--color-text);
    }
}